venv/
.git/
.env

# images
*.jpg
*.jpeg
*.png
*.gif
*.svg

# others
step_by_step_summary_flowchart

# terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Python metadata
**/__init__.py
